.row
  .menu-sidebar
    =render 'layouts/partials/sidebar'
  .main-content
    %h4.main-heading=t('collections')
    .row.padding-10
      =render @collections
      #results

=pageless(@collections.total_pages, collections_path, '#results')
