%div.row
  .col-md-2
    =render 'layouts/partials/sidebar'
  %ol.breadcrumb
    = render_breadcrumbs tag: :li, separator: ""
  .col-md-10.back-ground
    %h4.main-heading=t('collections')
    .row.padding-10
      - @collections.each do |collection|
        .col-md-6.padding-5.collection-item
          - if collection.image.present?
            =render 'shared/collection', collection: collection


