%div.row
  .col-md-2
    =render 'layouts/partials/sidebar'
  %ol.breadcrumb
    = render_breadcrumbs tag: :li, separator: ""
  .col-md-10.back-ground
    %h4.main-heading=t('collections')
    .row.padding-10
      =render @collections
      #results

=pageless(@collections.total_pages, collections_path, '#results')
