.row
  .menu-sidebar
    =render 'layouts/partials/sidebar'
  .main-content
    - @genres.each do |genre|
      %p
        %span.uk-h2
          = genre.genre_espanol
          = link_to "show all", genre_path(genre), style: "float: right;"
      .row
        .col-md-12
          - genre.titles.first(4).each do |title|
            =render 'titles/title', title: title
