%main.tm-content
  %article.uk-article
    %div
      .row
        .col-md-10
          - @genres.each do |genre|
            %p
              %span.uk-h2
                = genre.genre_espanol
            .row
              - genre.titles.first(4).each do |title|
                =render 'shared/title', title: title
        .col-md-2
          =render 'layouts/partials/sidebar'
