%main.tm-content
  .system-message-container
    - if notice.present?
      .uk-alert.uk-alert-large.uk-alert-success= notice
    - if alert.present?
      .uk-alert.uk-alert-large.uk-alert-success= alert
  %article.uk-article
    %div
      .row
        .col-md-10
          %p
            %span.uk-h2
              = @genre.genre_espanol
          .row
            - @genre.titles.each do |title|
              .col-md-3
                =render 'shared/title', title: title

        .col-md-2
          =render 'layouts/partials/sidebar'
