.row
  .col-md-3
    =render 'layouts/partials/sidebar'
  .col-md-9.back-ground
    %p
      %span.uk-h2
        = @genre.genre_espanol
    .row
      .col-md-12
        - @genre.titles.in_groups_of(4, false).each do |group|
          -group.each do |title|
            .col-lg-2.col-md-3.padding-5{id: "title-#{title.id}"}
              =render 'shared/title', title: title