.row
  .col-md-2
    =render 'layouts/partials/sidebar'
  %ol.breadcrumb
    = render_breadcrumbs tag: :li, separator: ""
  .col-md-10.back-ground
    %p
      %span.uk-h2
        = @genre.genre_espanol
    .row
      .col-md-12
        =render @titles
        #results

=pageless(@titles.total_pages, genre_path(@genre), '#results')
