.new-navigation
	= link_to "By country", "", class: "new-navigation-item new-navigation-item--active"

	= link_to "By collections", "", class: "new-navigation-item"

	= link_to "By genre", "", class: "new-navigation-item"