.new-navigation
	= link_to I18n.t("navigation.country"), "", class: "new-navigation-item new-navigation-item--active"

	= link_to I18n.t("navigation.collections"), "", class: "new-navigation-item"

	= link_to I18n.t("navigation.genre"), "", class: "new-navigation-item"
