.tm-block.tm-block-main
  .uk-container.uk-container-center
    .tm-middle.uk-grid{"data-uk-grid-margin" => "", "data-uk-grid-match" => ""}
      .tm-main.uk-width-medium-1-1
        %main.tm-content
          %article.uk-article
            %h1=t('search_result')
            %div
              .fabrikDataContainer.filmstrip.homefilmstrip
                #list_34_com_content_34
                  .fabrik_groupdata
                    .uk-grid
                      -if @titles.any?
                        -(@titles-Title.in_removals(current_user)).each do |title|
                          .block{id: "title-#{title.id}"}
                            =render 'titles/title', title: title
                      -else
                        =t('no_results')
                        -if current_user
                          =t('add_title_question')
                          =button_tag t('yes_asnwer'), id: "add_a_film", class: "btn btn-danger"
                    %br/
                  .filmstrip_footer
                    .fabrik___heading
                      %span
                        .fabrikNav
              #add_film_form.login-panel.col-md-6.col-md-offset-3.panel
                %h4=t('add_film_title')
                =simple_form_for("add_a_film", url: '/add_a_film') do |f|
                  =f.input :film_name, label: t('film_name'), class: "form-control"
                  =f.input :approximate_year, label: t('year_aprox'), required: false, class: "form-control"
                  =f.input :director, required: false, class: "form-control"
                  =f.input :comment, label: t('film_comment'), as: :text, required: false, input_html: {class: "form-control", rows: 3}
                  =f.submit t('send'), class: "btn btn-danger"
              %br/
              %br/
              %br/
              %br/
