@import 'merge';

.new-navigation-item {
	margin-right: 50px;

	vertical-align: middle;
	text-decoration: none;
	color: $color--text--gray;

	&:last-of-type {
		margin-right: 0;
		}

	&--active {
		color: $color--white;
		}
	}