$color--white: #ffffff;
$color--black: #000000;

$color--text--gray: #88909e;
$color--text--gray--light: #a3a9b6;
$color--text--gray--dark: #696e74;
$color--text--blue: #4273b1;
$color--text--blue--light: #a1c4ef;

$color--background--gray: #50657e;
$color--background--gray--dark: #373b44;
$color--background--blue: #3f87e1;

$color--hover--gray: #596472;
$color--hover--blue: #458eea;
