// Demensions
@import 'variables_dimensions';


// Colors
@import 'variables_colors';


// Breackpoints
@import 'variables_breakpoints';


$font-main: 'OpenSans';
$font-ordinary: 'FuturaPT';
$font-default: sans-serif;
