- if notice.present?
  .alert.alert-warning.alert-dismissible{role: "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    = notice
- if alert.present?
  .alert.alert-danger.alert-dismissible{role: "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    = alert
