%p.uk-text-left.mtop
  - if collection.image.present?
    =link_to image_tag(collection.image.url(:custom), alt: collection.image.name), collection_path(collection)
%h3.uk-text-left.bottom-heading
  %a{:href => "/"}
    = collection.collection_name
    %small
      by #{User.find(collection.user_id).email}
  %a#collection_11.addCollection.follow_btn{:onclick => ""} Sígueme
