%p.uk-text-left.mtop
  - if collection.image.present?
    =link_to image_tag(collection.image.url(:custom), alt: collection.image.name), collection_path(collection)
%h3.uk-text-left.bottom-heading
  %a{:href => "/"}
    = collection.collection_name
    %small
      by #{User.find(collection.user_id).username}
  -if current_user
    =link_to t('follow'), follow_collection_path(collection), id: "collection_11", class: "#{'followed' if current_user.followed_collection_ids.include?(collection.id)} addCollection follow_btn follow-button-#{collection.slug}", remote: true
  -else
    #collection_11.addCollection.follow_btn
      =t('follow')
