.addToFav
  -if current_user
    %a#add_.btn.uk-button.add_favourite.btn-action-title.btn-like{"data-uk-tooltip" => "{pos:'top-right'}", :onclick => "return AddtoFav(id)", :title => "Me gusta"}=t('add_to_favorite')
  -else
    =link_to t('add_to_favorite'), new_user_registration_path, class: "btn uk-button add_favourite btn-action-title btn-like"

  -if current_user
    %a#film_.btn.uk-button.Remove_view.add_favourite.btn-action-title.btn-remove{"data-uk-tooltip" => "{pos:'top-right'}", :onclick => "return RemoveFromView(id)", :title => "Eliminar de la vista"}=t('remove_from_view')
  -else
    =link_to t('remove_from_view'), new_user_registration_path, class: "btn uk-button add_favourite btn-action-title btn-remove"

  -if current_user
    %a#addqueue_.btn.uk-button.myqueue.add_favourite.btn-action-title.btn-queue{"data-uk-tooltip" => "{pos:'top-right'}", :onclick => "return MyQueue(id)", :title => "Want To Watch"}=t('add_to_queue')
  -else
    =link_to t('add_to_queue'), new_user_registration_path, class: "btn uk-button add_favourite btn-action-title btn-queue"

  -if show_view_button
    -if title
      =link_to t('view'), title, class: "btn uk-button add_favourite btn-action-title btn-eye", remote: true 
