%footer.tm-footer.uk-text-center.uk-text-contrast
  .uk-panel
    %ul.uk-subnav.uk-subnav-line.uk-flex-center
      %li
        %a{:href => "/login"} Ingresar/ Crear Cuenta
  %div
    %a.tm-totop-scroller.uk-text-center.uk-link-muted.uk-margin-top{"data-uk-smooth-scroll" => "", :href => "#"}
