%nav.tm-navbar.uk-navbar.uk-position-z-index.top-navbar
  .uk-container.uk-container-center.padding0
    .uk-grid
      .uk-width-medium-1-3.text-left.user-info
        %a.tm-logo.uk-hidden-small{:href => "/", :style => "text-decoration:none;"}
          %p
            =image_tag('butacaChairOnly.png', :alt => "logo", :height => "60", :width => "60")
            Butaca
      .uk-width-medium-1-3
        .tm-nav-search
          .uk-navbar-content.uk-hidden-small
            = search_form_for @q, url: search_path, class: 'uk-search' do |f|
              = f.search_field :film_title_or_actors_or_director_cont, class: "uk-search-field", placeholder: "Búsqueda", id: "search_field"
      .uk-width-medium-1-3
        .text-right
          %div
            .uk-button-dropdown{"aria-expanded" => "false", "aria-haspopup" => "true", "data-uk-dropdown" => "", :onmouseout => "$('.uk-dropdown').hide();", :onmouseover => "$('.uk-dropdown').show();"}
              %button.uk-button{:onmouseout => "$('.uk-dropdown').hide();", :onmouseover => "$('.uk-dropdown').show();"}
                %i.uk-icon-navicon
              .uk-dropdown.uk-dropdown-small.uk-dropdown-center{:style => "margin-left: -49px;"}
                %ul.uk-nav.uk-nav-dropdown
                  - if current_user
                    %li
                      =link_to t('favorites'), user_favorites_path
                    %li
                      =link_to t('queue'), user_queues_path
                    %li
                      =link_to t('removals'), user_removals_path
                    %li
                      = link_to 'Profile',edit_user_registration_path
                    %li
                      %a{:href => "/logout"} Logout
                    %li#livemessage
                  - else
                    %li
                      %a{:href => "/login"} Login
            / END: Custom advanced (www.pluginaria.com)
    %a.uk-navbar-toggle.uk-visible-small{"data-uk-offcanvas" => "", :href => "#offcanvas"}
    .uk-navbar-content.uk-navbar-center.uk-visible-small
      %a.tm-logo-small{:href => "/"}
        %p
          =image_tag('butacaChairOnly.png', :alt => "logo", :height => "45", :width => "45")
        %p
          =image_tag('butaca-name.png', :alt => "butaca", :width => "120")
.tm-block.tm-block-top-a.tm-block-alt
  .uk-container.uk-container-center
    %section.tm-top-a.uk-grid{"data-uk-grid-margin" => "", "data-uk-grid-match" => "{target:'> div > .uk-panel'}"}
      - if request.fullpath == '/collections'
        .uk-width-1-1.uk-width-medium-1-2
          .uk-panel.uk-panel-box.breadnav{:style => "min-height: 28px;"}
            %ul.uk-breadcrumb
              %li
                %a{:href => "/"} Inicio
              %li.uk-active
                %span Colección
      .uk-width-1-1.uk-grid-margin
        .uk-panel.uk-panel-box.filter-menu.uk-container.uk-container-center
          %ul.uk-nav.uk-nav-parent-icon.uk-nav-side
            %li
              =link_to t('collection'), collections_path
            %li
              =link_to t('country'), countries_path
            %li
              =link_to t('genre'), genre_index_path
