.container-fluid.width
  .row
    .col-md-12
      %h4
        About
      Butaca - Quiénes Somos

      Porque nos gustan las películas en español, te ayudamos a descubrirlas. ¡Mira y disfruta!

      Amamos las películas en español y nos dimos cuenta de que es difícil encontrarlas en un mismo lugar. Por eso Veranda ha ido evolucionado y creamos Butaca. Hemos seleccionado películas que nos gustan de todos los países de América Latina. Tenemos de todo, porque a veces queremos reír, otras veces queremos llorar, otras veces queremos que se nos pongan los pelos de punta.
      Butaca te ayuda a descubrir películas, de qué tratan y dónde las puedes ver online.

      Con Butaca puedes crear tu lista de películas que quieres ver, y aún no has podido, y también armar tu propia lista de favoritos.
      Además, puedes seguir nuestros playlists temáticos, para descubrir películas según el ánimo del día, de la semana, las ganas que tengas, solo o acompañado y así disfrutar lo mejor del cine Latinoamericano.
      También puedes buscar por país y así ir descubriendo las mejores historias locales desde la comodidad de tu casa.

      Butaca es una comunidad donde puedes vitrinear y compartir con tus amigos, porque no hay mejor recomendación que la de quien confiamos.

      Si hay películas que crees que debemos incluir, escríbenos en el formulario de contacto, porque queremos que seas parte de la comunidad Butaca.
