.row
  .col-md-2.menu-sidebar
    =render 'layouts/partials/sidebar'
  .container-fluid.width.col-md-10.main-content
    .row
      .col-md-8
        %h2.tagline
          =t('tagline')
    .row
      .col-md-12
        %h3.title
          = @collections.where(is_featured?: true).first.collection_name
          by
          %span.auth
            = link_to(@collections.where(is_featured?: true).first.user.username, user_show_path(@collections.where(is_featured?: true).first.user.id))
      .element-5-padding
        -(@collections.where(is_featured?: true).first.titles-Title.in_removals(current_user)).each do |title|
          =render 'titles/title', title: title
    .row.home-collection
      .col-md-12
        %h4.main-heading=t('collection')
    .row.home-collection
      =render @collections
