.row
  %h2.uk-h1
    %br>/
    %p
      PORQUE NOS GUSTAN LAS PELÍCULAS EN ESPAÑOL,
    %p
      TE AYUDAMOS A DESCUBRIRLAS.
    %p
      ¡MIRA Y DISFRUTA!
.row
  .col-md-12
    .row
      .col-md-12
        %section
          .uk-width-1-1
            .uk-panel.uk-panel-box.filter-menu
              %ul.uk-nav.uk-nav-parent-icon.uk-nav-side
                %li
                  =link_to t('collection'), collections_path
                %li
                  =link_to t('country'), countries_path
                %li
                  =link_to t('genre'), genre_index_path
        %h3.title
          = @collections.where(is_featured?: true).first.collection_name
          by
          %span.auth= @collections.where(is_featured?: true).first.user.name
      .element-5-padding
        -(@collections.where(is_featured?: true).first.titles-Title.in_removals(current_user)).each do |title|
          .col-sm-4.col-lg-2.col-md-2.col-33{id: "title-#{title.id}"}
            =render 'shared/title', title: title
.row.home-collection
  .col-md-12
    .row
      .col-md-12
        %h4.main-heading Collections
      - @collections.each do |collection|
        .col-md-6
          - if collection.image.present?
            =render 'shared/collection', collection: collection


