// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

a, a:link, a:visited {
    color: #ee4423;
    text-decoration: none;
}

.add_favourite, .addCritics {
    border: 3px solid #ee4423;
    border-radius: 50px;
    color: #ee4423;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}