@import '_settings';

.film-preview {
	height: $height;
	margin-bottom: 20px;
	position: relative;

	border-radius: 3px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	&:hover .film-preview__overlay {
		display: block;
	}
}