%main.tm-content
  %article.uk-article
    %div
      .row
        .col-md-10
          - @countries.each do |country|
            .uk-width-medium-9-10.counrty
              - if country.is_active? && country.titles.any?
                %p
                  %span.uk-h2
                    = link_to country.country, country_path(country)
                    - country.titles.first(4).each do |title|
                      =render 'shared/title', title: title

        .col-md-2
          =render 'layouts/partials/sidebar'
