.row
  .col-md-2
    =render 'layouts/partials/sidebar'
  %ol.breadcrumb
    = render_breadcrumbs tag: :li, separator: ""
  .col-md-10.back-ground
    - @countries.each do |country|
      - if country.is_active? && country.titles.any?
        = link_to country.country, country_path(country)
        .row
          .col-md-12
            - country.titles.first(4).each do |title|
              .col-lg-2.col-md-3.padding-5{id: "title-#{title.id}"}
                =render 'shared/title', title: title