.row
  .col-md-3.remove-padding
    =render 'layouts/partials/sidebar'
  .col-md-9.back-ground
    - if @country.is_active? && @country.titles.any?
      %p
        %span
          = @country.country
          .row
            .col-md-12
              - @titles.each do |title|
                .col-lg-2.col-md-3.padding-5{id: "title-#{title.id}"}
                  =render 'shared/title', title: title
