%main.tm-content
  %article.uk-article
    %div
      .row
        .col-md-10
          .uk-width-medium-9-10
            - if @country.is_active? && @country.titles.any?
              %p
                %span.uk-h2
                  = @country.country
                  .row
                    - (@country.titles.each-Title.in_removals(current_user)) do |title|
                      .block{id: "title-#{title.id}"}
                        =render 'shared/title', title: title

        .col-md-2
          =render 'layouts/partials/sidebar'
