$navbar-color: #373b44;
$dropdown-color: #4c515d;
$blue-color: #3996d1;
$subnav-nav-color: #3d98d2;
$subnav-height: 55px;
$subnav-line-height: 28px;
$subnav-padding-vertical: (($subnav-height - $subnav-line-height) / 2);
$left-panel-width: 260px;
