// @import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500);

.container-fluid.width{
  max-width: 1400px;
}
// .container-fluid.width-margin{
//   // padding: 0px 140px;
// }

.tagline{
  font-weight: 200;
}
.uk-h1 p, h4.main-heading {
  font-family: "Maven Pro";
  font-weight: 200;
  font-size: 40px;
  text-transform: lowercase;
  &:first-letter {
    text-transform: uppercase;
  }
}
h3.title{
  font-size: 30px;
  font-family: "Maven Pro";
  font-weight: 200;
  text-transform: lowercase;
  &:first-letter {
    text-transform: uppercase;
  }
}
body{
  font-family: "Maven Pro";
  font-weight: 300;
}
.container-fluid.margin{
  margin-top:90px;
}

@media(min-width: 991px){
  .home-collection{
    .col-md-6:nth-child(2n+1){
      padding-right:5px;
    }
    .col-md-6:nth-child(2n){
      padding-left:5px;
    }
  }
}

.home-collection img {
  width: 100%;

}

.element-5-padding{
  padding: 0 10px;;
}
.col-33, .col-md-3{
  padding:5px;

  .product{
    z-index:5;
  }
  .info{
    position:relative;
    top:-10px;
    z-index: 1;
    background-color: #314250;
    padding-bottom: 10px;
    h5{
      font-family: "Maven Pro";
      font-weight: 200;
      padding-bottom: 15px;
      text-transform: capitalize;
    }
    .icon{
      height: 38px !important;
      .round-icon{
        background-color: #465562;
        img{
          padding-bottom:10px;
          padding-top:10px;
        }
      }
    }
  }
}

.uk-text-left.mtop img{
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.follow_btn{
  top: -37px;
}
//nav
.img-circle.img-responsive.nav{
  width: 65px;
  height: 65px;
}

@media(max-width:767px){
  .navbar-toggle{
    right: 40px;
    top: 20px;
  }
  .navbar-brand{
    position:relative;
    left: 50vw;
    top: -10px;
    img{
      width: 50px;
    }
    span.name{
      position: absolute !important;
      top: 65px !important;
      right: -5px !important;
      font-size: 24px !important;
    }
  }

  .navbar-collapse{
    background-color: #314250;
    position: relative;
    top:30px;
    .nav.navbar-nav.navbar-right{
      float: right;
    }
  }
}
.navbar.navbar-default.navbar-inverse{
  height:90px;
  background-color: #314250;
  a.navbar-brand {
    z-index:9999;
    position:relative;
    height: 50px;
    span{
      z-index:999;
    }
    span.name {
    font-size:26px;
    position: relative;
    top: 5px;
    left: 5px;
    z-index:99;
    }
  }
  #search_field{
    position:relative;
    top:3px;
    left:40%;
  }
  .container-fluid{

    #title_search{
      position: absolute;
      top: 28px;

    }
    ul.nav.navbar-nav.navbar-right{
      a.padding{
        padding: 34px 20px;
        font-weight: 100;
        font-family: Maven Pro;
      }

      .bell{
        padding: 31px 30px;
        padding-left: 30px !important;
        border-left:3px solid #465562;
        position:relative;
        top:5px;
        .number{
          position: absolute;
          top: 13px;
          right:20px;
          color: white;
          font-weight: 100;
          font-size: 14px;
        }
      }
      .login-person{
        padding:24px 0px;
      }
      .name{
        padding: 29px 20px 33px 10px;
        color: white;
        font-family: Maven Pro;
        font-weight: 200;
        font-size: 15px;
      }
      .dropdown.main{
        padding: 24px 0px;

        .dropdown-menu{
          background-color: #314250;
          border:2px solid #314250;
          &:after{
            z-index: -1;
            display: none;
            visibility: hidden;
          }
          li a{
            color: white;
          }
        }
      }
    }
  }
}

.navbar.navbar-default.navbar-inverse .container-fluid ul.nav.navbar-nav.navbar-right.logout{
  img{
    padding: 24px 5px;
  }
  li a.padding{
    padding-left: 3px;
    padding-right: 0px;
    font-family: Maven Pro;
    font-size: 14px;
  }
}

.navbar.navbar-default.navbar-inverse input#search_field.uk-search-field{
  background-color: #465562 !important;
  padding: 0px;
  width: 300px !important;
  left: 35vw;
  position: absolute;
  z-index:9;
}
@media(max-width:979px){
  .navbar.navbar-default.navbar-inverse input#search_field.uk-search-field{
    padding: 0px;
    width: 180px !important;
    left: 20vw;
    position: absolute;
  }
  ul.dropdown-menu{
    position:absolute;
    right: 200px;
  }
}
@media(max-width:767px){
  .navbar.navbar-default.navbar-inverse input#search_field.uk-search-field{
    padding: 0px;
    width: 180px !important;
    left: 15vw;
    position: absolute;
  }
}
@media(max-width:680px){
  .navbar.navbar-default.navbar-inverse input#search_field.uk-search-field{
    padding: 0px;
    width: 180px !important;
    left: 10vw;
    position: absolute;
  }
}

#bs-example-navbar-collapse-1{
  z-index:999;
}

.row.collection-4{
  .col-md-3{
    padding: 0px 5px;
    margin-left: 20%;
  }
}
.padding-10{
  padding:0px 10px;
}
.padding-5{
  padding:5px;
}

.col-md-6.padding-5.collection-item{
  img{
    width:100%;
  }
}

.breadcrumb{
  margin-bottom: 0px;
  border-bottom: 1px solid #ddd;
  background-color: #bbd6ca;
  li:first-child{
    padding-left: 20px;
  }
  li{
    color: #262c31;
  }
  a{
    color:white;
  }
}
.back-ground{
  padding: 40px 60px;
}

.tm-footer.uk-text-center.uk-text-contrast{
  margin-top:0px;
}

.info.no-background{
  background-color: rgba(255,255,255,0);
}

.aside-inner{
  position:relative;
  right: 4px;
  .sidebarr{
    padding-top: 50px;
    background-color: #ecf0f1;
    li.active{
      border-left: 0px;
      li a, ul#forms{
        background-color: #ecf0f1;
      }
    }
    li{
      background-color: #ecf0f1;
      .label{
        position: absolute;
        right: 15px;
        top: 4px;
        color: white;
        border-radius: 50%;
        background-color: rgba(102, 102, 102, 0.5);
        width:25px;
        height:25px;
        padding: 3px;
        border: 0px;
      }
      a{
        padding: 2px 20px;
      }
      a:first-child{
        text-align: center;
      }
      #elements a{
        text-align: left;
      }
    }
  }
}

.home-collection{
  h3{
    background-color: #314250;
    small{
      color: white;
    }
  }
}

.row.film{
}

.remove-padding{
  padding: 0px;
}