// @import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500);

@import 'variables';

.container-fluid.width{
  max-width: 1400px;
}
// .container-fluid.width-margin{
//   // padding: 0px 140px;
// }

.tagline{
  font-weight: 200;
}
.uk-h1 p, h4.main-heading {
  font-family: "Maven Pro";
  font-weight: 200;
  font-size: 40px;
  line-height: 45px;
  text-transform: lowercase;
  &:first-letter {
    text-transform: uppercase;
  }
}
h3.title{
  font-size: 30px;
  font-family: "Maven Pro";
  font-weight: 200;
  text-transform: lowercase;
  &:first-letter {
    text-transform: uppercase;
  }
}
body{
  font-family: "Maven Pro";
  font-weight: 300;
  overflow-x: hidden;
}
.container-fluid.margin{
}

@media(min-width: 991px){
  .home-collection{
    .col-md-6:nth-child(2n+1){
      padding-right:5px;
    }
    .col-md-6:nth-child(2n){
      padding-left:5px;
    }
  }
}

.home-collection img {
  width: 100%;

}

.element-5-padding{
  padding: 0 10px;;
}
.col-33, .col-md-3{
  padding:5px;

  .product{
    z-index:5;
  }
  .info{
    position:relative;
    top:-10px;
    z-index: 1;
    background-color: #314250;
    padding-bottom: 10px;
    h5{
      font-family: "Maven Pro";
      font-weight: 200;
      padding-bottom: 15px;
      text-transform: capitalize;
    }
    .icon{
      height: 38px !important;
      .round-icon{
        background-color: #465562;
        img{
          padding-bottom:10px;
          padding-top:10px;
        }
      }
    }
  }
}

.uk-text-left.mtop img{
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.follow_btn{
  top: -37px;
}
//nav
.img-circle.img-responsive.nav{
  width: 65px;
  height: 65px;
}

.row.collection-4{
  .col-md-3{
    padding: 0px 5px;
    margin-left: 20%;
  }
}
.padding-10{
  padding:0px 10px;
}
.padding-5{
  padding:5px;
}

.col-md-6.padding-5.collection-item{
  img{
    width:100%;
  }
}

.navbar-subnav{
  background-color: $subnav-nav-color;
  height: $subnav-height !important;
  margin-bottom: 0px;
  min-height: $subnav-height;
  border-radius: 0px;
  margin-top: 90px;
  position: fixed;
  width: 100%;
  z-index: 1000;

  ul{
    padding: 0px;
    height: 100%;
    width: 100%;
    margin: 0px;
    list-style: none;

    li{
      display: inline-block;
      padding-top: 12px;
      padding-bottom: $subnav-padding-vertical;

      &.navbar-collapse-button{
        float: left;
        padding-top: 15px;
        padding-bottom: 6px !important;
        span{
          font-size: 25px;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  ol.breadcrumb{
    margin-bottom: 0px;
    display: inline-block;
    padding: 0px;
    background: transparent !important;
    margin-left: ($left-panel-width - 40);
    -webkit-transition:  1s;
    transition:  1s;

    &.menu-collapsed{
      margin-left: 0px;
    }

    li:first-child{
      padding-left: 20px;
    }
    li{
      color: #262c31;
      padding: 0px;
    }
    a{
      color:white;
    }
  }
}

.back-ground{
  padding: 40px 60px;
}

.tm-footer.uk-text-center.uk-text-contrast{
  margin-top:0px;
}

.info.no-background{
  background-color: rgba(255,255,255,0);
}

.aside-inner{
  position:relative;
  right: 4px;
  .sidebarr{
    padding-top: 30px;
    background-color: #ecf0f1;
    padding-bottom: 30px;
    li.active{
      border-left: 0px;
      li a, ul#forms{
        background-color: #ecf0f1;
      }
    }
    li{
      background-color: #ecf0f1;
      .label{
        position: absolute;
        right: 15px;
        top: 4px;
        color: white;
        border-radius: 50%;
        background-color: rgba(102, 102, 102, 0.5);
        width:25px;
        height:25px;
        padding: 3px;
        border: 0px;
      }
      a{
        padding: 2px 20px;
      }
      a:first-child{
        text-align: center;
      }
      #elements a{
        text-align: left;
      }
    }
  }
}

.home-collection{
  h3{
    background-color: #314250;
    small{
      color: white;
    }
  }
}

.row.film{
}

.remove-padding{
  padding: 0px;
}

.main-content{
  .main-description{
    margin-bottom: 30px;
  }
  .main-buttons{
    margin-bottom: 30px;
  }
}

.modal{
  background-color: rgba(0,0,0,0.2) !important;

  .modal-content{
    padding: 20px 30px;

    .form-control{
      padding: 20px 10px;
      border-radius: 4px;
      margin-bottom: 0px;
    }
  }
}

#modalTitle{
  .modal-dialog{
    width: 95%;

    .modal-content{
      border-radius: 0px;
      .tm-block{
        padding: 0px;

        .fabrikForm.fabrikDetails{
          margin-top: 0px;
        }
      }

      .close{
        font-size: 30px;
        position: absolute;
        top: 15px;
        right: 20px;
      }
    }
  }
}

@media screen and (max-width: 991px){
  .container-fluid.margin {
    margin-top: 0px !important;
  }

  .cta-buttons{
    .uk-panel-box{
      padding: 12px !important;
    }
  }

  .main-content{
     .main-buttons{
      margin-bottom: 0px;
     }
  }

  h4.main-heading{
    margin-top: 5px;
  }
}

/* Menu Side Bar */
.menu-sidebar{
  padding: 0px;
  width: 20%;
  position: fixed;
  margin-top: 145px;
  -webkit-transition:  1s;
  transition:  1s;

  &.menu-collapsed{
    width: 0px;

    .sidebarr{
      li{
        opacity: 0;
      }
    }
  }

  &.scrolled{
    margin-top: 115px;
    -webkit-transition:  1s;
    transition:  1s;
  }

  .sidebarr{
    background: $navbar-color;
    overflow-y: scroll;

    .nav{
      background: $navbar-color;

      li{
        background: $navbar-color;
        text-transform: uppercase;
        font-size: 14px;
        -webkit-transition:  0.7s;
        transition:  0.7s;
        a{
          color: white;
          text-align: left !important;
        }

        &.menu-item-title{
          font-weight: bold;

          a{
            .fa{
              margin-top: 7px;
              color: #a0a5ab;
            }
          }
        }
      }
    }

    .sidebar-subnav{
      padding-top: 10px;
      padding-left: 15px !important;
    }
  }
}

.main-content{
  width: 80%;
  margin-left: 20%;
  margin-top: 145px;
  -webkit-transition:  1s;
  transition:  1s;
  &.menu-collapsed{
    width: 100%;
    margin-left: 0px;
  }
}

.scrollbar-custom::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: transparent;
}

.scrollbar-custom::-webkit-scrollbar
{
  width: 8px;
  background-color: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: $custom-scrollbar-color;
}
